@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css?family=Poppins:400&subset=latin,latin-ext);
}
:root {
    /* MyAnimeList */
    --mal-primary: #2e51a2;

    /* MangaDex */
    --md-background: #191a1c;
    --md-background-lighten: #191a1cce;
    --md-primary-lighten: #ffbead;

    /* Manganelo */
    --mglo-background-grad-left: rgba(126, 197, 201, 0.75);
    --mglo-background-right-left: rgba(239, 92, 84, 0.75);
    --mglo-background-grad-left-full: rgba(126, 197, 201, 1);
    --mglo-background-right-left-full: rgba(239, 92, 84, 1);

    /* GoGoAnime */
    --gogo-background: #1E352F;
    --gogo-background-darken: #335145;
    --gogo-highlight: #00a651;

    --gogo-light-background: #6f9b8a;
    
    /* YouTube */
    --yt-background: #282828;
    --yt-background-lighten: #4b4b4b;
}

/* Base Buttons */
.inj-a-tag,
.inj-a-tag:visited {
    margin: auto;
    width: 100%;
    text-decoration: none!important;
}

.inj-btn-tag {
    padding: 3% 8%;
    width: 100%;
    height: 45px;
    margin: 5px auto;
    border: none;
    border-radius: 200px;
    font-family: 'Poppins', 'Verdana', 'Arial';
    transition: 0.3s;
    display: flex;
    position: relative;
}

.inj-btn-tag:hover {
    cursor: pointer;
}

.inj-btn-tag:focus {
    cursor: pointer;
}

.bt-text,
.bt-text:visited {
    margin-top: 5px!important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.blocked:hover {
    cursor: not-allowed;
}
.blocked::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(256, 256, 256, 0.5);
    z-index: 1;
    transition: opacity 0.25s linear;
    border-radius: 200px;
}
.blocked:hover .block-pop {
    visibility: visible;
}

.block-pop {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 120%;
    left: 25%;
    margin-left: -60px;
    opacity: 1!important;
}
.block-pop::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Individual Button Stylings */
.mdex {
    background-color: var(--md-background);
    color: #fff;
}
.mdex.unblocked:hover {
    background-color: var(--md-background-lighten);
}
#md-cat {
    height: 28px;
    margin-left: 5px;
}
#md-logo {
    display: inline;
    height: 20px;
    margin-top: 5px;
    margin-left: 1px;
}

.mglo {
    background-image: linear-gradient(
        to right,
        var(--mglo-background-grad-left),
        var(--mglo-background-right-left)
    );
    border: 1px solid black;
    color: black;
    z-index: 1;
    position: relative;
}
.mglo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        to right,
        var(--mglo-background-grad-left-full),
        var(--mglo-background-right-left-full)
    );
    z-index: -1;
    transition: opacity 0.25s linear;
    opacity: 0;
    border-radius: 200px;
}
.mglo.unblocked:hover::before {
    opacity: 1;
}
#mglo-logo {
    height: 50px;
    position: absolute;
    transform: translate(65%, -10px);
}

.nu {
    background-color: #2D3F51;
    color: white;
}
#nu-logo {
    height: 35px;
    margin-left: 25px;
}

.gogo {
    background-color: var(--gogo-background);
    color: #fff;
}
.gogo.unblocked:hover {
    background-color: var(--gogo-background-darken)
}
#gga-logo {
    height: 30px;
    margin-left: 17px;
}

.yt {
    background-color: var(--yt-background);
    color: white;
}
.yt:hover {
    background-color: var(--yt-background-lighten);
}
#yt-logo {
    height: 33px;
    left: 37.5%;
    top: 12%;
    position: absolute;
}

.err {
    background-color: var(--mal-primary);
}
.err p {
    flex-grow: 1;
    color: white;
    text-align: center;
}

/* Dark Mode */
.dm-mdex { border: 1px solid white !important; }
.dm-mglo { border: 1px solid white !important; }
.dm-yt { border: 1px solid white !important; }
.dm-gogo { background-color: var(--gogo-light-background); }
